html, body {
    height: 100%;
    margin: 0px;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

header {
    grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(116, 184, 223);
}

main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #d8d8d8;
}